{% extends 'base.html.twig' %}

{% block title %}
{{ ekebab.taille }} - E-Kebab
{% endblock %}

{% block content %}
    <p>{{ ekebab.taille }}</p>
{% endblock %}

{% block headerTitle %}
    {{ ekebab.taille }}
{% endblock %}


